.article-taglist {
  padding-top: 0.5px;
  padding-bottom: 1px;
  .article-tag {
    padding: 2.5px 10px;
    color: $dark;
    background-color: #fffaef;
    border: 0.5px solid $primary;
    user-select: none;
    &.active,
    &:hover,
    &:focus {
      color: $light;
      background-color: $primary_hover;
      border: 0.5px solid $primary_hover;
    }
    @include media-breakpoint-up(lg) {
      padding: 4px 16px;
    }
  }
  @include media-breakpoint-up(lg) {
    max-height: none;
  }
}
.recommend-article-section {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: rgba(251, 164, 77, 0.33);
  @include media-breakpoint-up(lg) {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}
.hot-article-card {
  .card {
    &:hover{
      transition: 0.2s;
      background-color: $secondary;
    }
    padding: 15px;
    @include media-breakpoint-up(md) {
      padding: 20px;
    }
  }
  .card-img-top {
    height: 100px;
    @include media-breakpoint-up(md) {
      height: 120px;
    }
    @include media-breakpoint-up(lg) {
      height: 185px;
    }
  }
  .card-title {
    font-size: 20px;
    @include media-breakpoint-up(lg) {
      font-size: 22px;
    }
  }
  .card-footer {
    background-color:transparent;
    font-size: 12px;
    @include media-breakpoint-up(lg) {
      font-size: 16px;
    }
  }
}
.hot-article-pagination {
  .page-link.material-symbols-outlined {
    color: #c4cdd5;
    &.disabled {
      background-color: #919EAB;
      border-color: #919EAB;
    }
  }
  .page-link {
    user-select: none;
    border: 1px solid #dfe3e8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    width: 32px;
    height: 32px;
    &.active {
      background-color: $light;
      color: $primary;
      border: 1px solid $primary;
    }
    &:hover,
    :focus {
      background-color: $primary;
      color: $light;
      border: 1px solid $primary;
    }
  }
}
.recommend-article-card {
  background-color: $light;
  &:hover{
    transition: 0.2s;
    background-color: $secondary;
  }
  .card-img {
    height: 120px;
    width: 120px;
    @include media-breakpoint-up(lg) {
      height: 131px;
      width: 131px;
    }
  }
  .card-title {
    font-size: 20px;
    @include media-breakpoint-up(lg) {
      font-size: 20px;
    }
  }
  .card-body {
    height: 140px;
    @include media-breakpoint-up(lg) {
      height: 140px;
    }
  }
}
.article-list-section {
  background-color: #fffdfb;
  @include media-breakpoint-up(lg) {
    background-color: #fffaef;
    padding-top: 100px;
    padding-bottom: 224px;
  }
}
.article-list-wrap {
  border: 0px;
  @include media-breakpoint-up(lg) {
    border: 1px solid $gray_light;
  }
}
.article-list-select-wrap {
  position: relative;
  select {
    width: 11rem;
    background-color: #fffdfb;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &:focus-visible {
      outline: none;
    }
  }
  &::after {
    content: "\e313";
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: $primary;
    font-size: 24px;
    font-family: "Material Symbols Outlined";
  }
}
.article-list-card {
  &:hover{
    transition: 0.2s;
    background-color: $secondary;
  }
  .card-img {
    aspect-ratio: 2 / 1;
    @include media-breakpoint-up(md) {
      height: 133px;
      width: 266px;
    }
  }
}
