.related-articles.nav {
  .nav-link {
    color: $gray;
  }
  .nav-link.active {
    color: $primary;
    border-bottom: 2px solid $primary;
  }
}

.article-banner {
  height: 400px;
  @include media-breakpoint-up(lg) {
    height: 600px;
  }
}

.article-wrap {
  h2 {
    font-weight: bold;
    font-size: 28px;
    @include media-breakpoint-up(lg) {
      font-size: 36px;
    }
  }
  img {
    object-fit: contain;
    max-width: 100%;
  }
  .ql-size-small{
    font-size: 10px;
  }
  .ql-size-large{
    font-size: 24px;
  }
  .ql-size-huge{
    font-size: 36px;
  }
  .ql-video { 
    width: 100%;
    height: calc(100% * 9 / 16);
    aspect-ratio: 16 / 9;
  }
}
