.btn-primary{
  color: $light;
}
.btn-primary:hover,.btn-primary:active.btn-primary{
  color: $light;
  background-color: $primary_hover;
  border-color: $primary_hover;
}

.btn-outline-primary:hover,.btn-outline-primary:active.btn-outline-primary {
  color: $light;
  background-color: $primary_hover;
  border-color: $primary_hover;
}

//按鈕hover浮起
.hover-shadow:hover {
  transform: translateY(-1px);
  box-shadow: 0.2rem 0.2rem 0.75rem rgba(#c18700, 0.15);
  transition: all 0.2s ease-in-out;
}

  .btn-click {
    transition: transform 0.1s ease-out;
  }
  
  .btn-click:active {
    transform: scale(0.95);
  }
  