.admin-layout_nav a:hover,
.admin-layout_nav .adminLinkActive {
  font-weight: 700 !important;
  color: #e77605 !important;
  border-bottom: solid 2px #e77605;
  @media (min-width: 768px) {
    font-weight: 400 !important;
    border: none;
  }
}
