.text-truncate-2lines {
  //超過兩行就截斷
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  line-height: 1.5;
  max-height: 3em;
}
.article-card {
  border: 0px;
  border-bottom: 4px solid #fb9a39;
  .card-img {
    aspect-ratio: 2 / 1;
    width: 100%;
  }
  .card-title{
    height: 3em;
  }
  .card-text{
    height: 3em;
  }
}
