.homepage-section {
  padding-top: 60px;
  padding-bottom: 60px;
  @include media-breakpoint-up(lg) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.banner-img-container {
  position: relative;
  display: inline-block;
}

.banner-img-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15); /* 半透明黑色 */
}

.banner-content {
  position: absolute;
  bottom: 0%;
  width: 100%;

  padding: 20px 12px 48px;
  background: linear-gradient(rgba(231, 118, 5, 0), rgba(231, 118, 5, 0.6));

  @include media-breakpoint-up(lg) {
    //內容置中
    display: flex;
    flex-direction: column;
    justify-content: center;
    //位置
    bottom: calc(0% + 88px);
    left: calc(50% - 468px);
    //區塊大小
    width: 632px;
    height: 198px;
    //樣式
    padding: 0px 40px;
    border-radius: 8px;
    background-color: rgba(231, 118, 5, 0.6);
  }
  @include media-breakpoint-up(xl) {
    left: calc(50% - 558px);
  }
  @include media-breakpoint-up(xxl) {
    left: calc(50% - 648px);
  }
}

.swiper-pagination {
  @include media-breakpoint-up(lg) {
    z-index: 1000;
    position: absolute;
    bottom: calc(0% + 84px);
    right: calc(50% - 468px);
  }
  @include media-breakpoint-up(xl) {
    right: calc(50% - 558px);
  }
  @include media-breakpoint-up(xxl) {
    right: calc(50% - 648px);
  }
  a {
    width: 40px;
    height: 40px;
  }
}

.swiper-pagination-bullet-mx-6 {
  margin-left: 6px;
  margin-right: 6px;
}

.swiperPrebEl,
.swiperNextEl {
  cursor: pointer;
  user-select: none;
}

.reviewMarquee .rfm-child {
  margin-left: 12px;
  margin-right: 12px;
}